Workspace_M3/.metadata
Workspace_M3/.metadata/*


*.resources

*.xmi

*.xmi
/Workspace_M3/.metadata
/Workspace_M3/.metadata

/Workspace_M3/firstTry/Debug
/Workspace_M3/firstTry/Release

/Workspace_M3/firstTry/firstTry Debug.launch
/Workspace_M3/firstTry/firstTry Release.launch

/Workspace_M3/sources/Debug
/Workspace_M3/sources/Release

/Workspace_M3/sources/sources Debug.launch
/Workspace_M3/sources/sources Release.launch

