Workspace_M3/.metadata
Workspace_M3/.metadata/*


*.resources

*.xmi

*.xmi
/Workspace_M3/.metadata
/Workspace_M3/.metadata
/Workspace_M3/firstTry/Debug
/Workspace_M3/firstTry/firstTry Debug.launch
/Workspace_M3/firstTry/firstTry Release.launch
/Workspace_M3/firstTry/.cproject
/Workspace_M3/firstTry/.project
/Workspace_M3/firstTry/Release
/Workspace_M3/sources/Debug
/Workspace_M3/sources/Release
/Workspace_M3/sources/.cproject
/Workspace_M3/sources/.project
